.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 3em 1em;
	margin-top: 5em;
	background-color: var(--element);
	color: var(--text);
}

.label {
	font-size: 2em;
	margin-bottom: 1em;
	font-weight: bold;
}

.error {
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--alert);
	margin-bottom: 1em;
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 800px;
}

.input {
	width: 100%;
	border-radius: 5px;
	padding: 0.5em 1em;
	margin-bottom: 2em;
	border: 2px solid var(--greylish);
	background-color: #fff;
	color: #000;
	font-size: 1.4rem;
}

.input::placeholder {
	font-size: 1.1em;
	font-style: italic;
}

.button {
	width: 70%;
	padding: 0.5em 1em;
	background-color: transparent;
	border: 3px solid var(--highlight);
	color: var(--text);
	font-weight: bold;
	font-size: 1.6rem;
	letter-spacing: 1px;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: var(--primary);
}

@media (min-width: 992px) {
	.label {
		font-size: 2.2rem;
	}
	.error {
		font-size: 1.5rem;
	}
	.input {
		font-size: 1.5rem;
		padding: 0.6em 1.2em;
	}
	.button {
		padding: 0.7em 1.4em;
		font-size: 1.7rem;
	}
}
