.display {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	padding: 4em 3em;
	min-height: 140px;
	text-align: right;
	border-bottom: 2px solid var(--greylish);
}

.prev {
	font-size: 1.7em;
	color: var(--greylish);
}

.act {
	letter-spacing: 1px;
	font-size: 2.4em;
	margin-top: 0.4em;
	font-weight: bold;
	word-break: break-all;
}
