.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0.3em;
}

.box {
	display: flex;
	align-items: center;
}

.title {
	font-size: 2.4rem;
	margin-left: 0.8em;
	font-weight: bold;
}

.button {
	position: relative;
	width: 75px;
	height: 32px;
	border-radius: 25px;
	background-color: var(--primary);
	border: 3px solid var(--text);
	cursor: pointer;
}

.slider {
	position: absolute;
	top: 0;
	left: 2px;
	width: 25px;
	height: 25px;
	padding: 1em;
	background-color: rgb(252, 248, 6);
	border-radius: 50%;
	transition: transform 0.3s, background-color 0.3s;
}

.active {
	transform: translateX(38px);
	background-color: rgb(9, 9, 17);
}
