.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}

.title {
	margin-top: 0.4em;
	font-size: 2.4em;
	color: var(--highlight);
}

.line {
	margin-top: 0.4em;
	height: 3px;
	width: 100%;
	max-width: 100px;
	background-color: var(--highlight);
}


@media (min-width: 992px) {
	.title {
		font-size: 2.8rem;
	}
}