.box {
	display: flex;
	flex-direction: column;
	padding: 2.5em;
	width: 100%;
	margin-top: 5em;
	background-color: var(--element);
	color: var(--text);
	text-align: center;
}

.heading {
	font-size: 2.2em;
}

.label {
	margin: 0.6em 0;
	font-size: 1.5rem;
	font-style: italic;
}

.label:last-of-type {
	margin-top: 1.5em;
}

.error {
	margin-top: 1em;
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--alert);
}

.input {
	width: 100%;
	border-radius: 6px;
	padding: 0.6em 1.2em;
	font-size: 1.4rem;
	border: 2px solid var(--text);
}

.textarea {
	padding: 0.5em 1em;
	max-width: 100%;
	min-width: 100%;
	min-height: 80px;
	max-height: 300px;
	font-size: 1.4rem;
	border-radius: 5px;
	border: 2px solid var(--text);
}

.buttons {
	margin-top: 2em;
	flex-direction: row;
	justify-content: space-around;
}

.button {
	width: 43%;
	max-width: 300px;
	padding: 0.6em 1.2em;
	margin: 0.5em;
	background-color: transparent;
	border: 1px solid var(--highlight);
	color: var(--text);
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: var(--primary);
}

@media (min-width: 992px) {
	.heading {
		font-size: 2.6em;
	}

	.label {
		margin: 1em 0;
		font-size: 1.6rem;
	}

	.label:last-of-type {
		margin-top: 2em;
	}

	.error {
		margin-top: 0.8em;
		font-size: 1.5rem;
	}

	.input {
		width: 100%;
		border-radius: 6px;
		padding: 0.7em 1.4em;
		font-size: 1.5rem;
	}

	.textarea {
		padding: 0.7em 1.4em;
		font-size: 1.5rem;
	}

	.button {
		width: 45%;
		padding: 0.8em 1.6em;
		margin: 1em;
		font-size: 1.6em;
	}
}

@media (min-width: 1200px) {
	.box {
		margin-top: 8em;
		border: 1px solid var(--highlight);
		border-radius: 20px;
	}
}