.box {
	margin-top: 3em;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.label {
	font-weight: bold;
	margin-bottom: 0.4em;
}

.small {
	font-size: 1.4rem;
	margin-bottom: 0.8em;
}

.input,
.select {
	font-size: 1.6rem;
	width: 100%;
	padding: 0.6em 1.2em;
	border-radius: 8px;
	background-color: #fff;
	color: #000;
	max-width: 700px;
}

.error {
	font-size: 1.5rem;
	margin-top: 1em;
	color: var(--alert);
	font-weight: bold;
}

.box:nth-child(2),
.box:nth-child(3) {
	margin-top: 0.8em;
}

.income {
	color: var(--check);
	font-weight: bold;
}

.expenses {
	color: var(--alert);
	font-weight: bold;
}

.select {
	font-size: 1.4rem;
	text-align: center;
}

.buttons {
	margin-top: 1em;
	padding: 1em 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.button {
	width: 50%;
	height: 80px;
	max-width: 300px;
	padding: 1.2em;
	background-color: transparent;
	border: 1px solid var(--highlight);
	color: var(--text);
	font-weight: bold;
	font-size: 1.6rem;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin: 0 0.5em;
}

.button:hover {
	background-color: var(--primary);
}

@media (min-width: 500px) {
	.button {
		height: 65px;
	}
}

@media (min-width: 1100px) {
	.label {
		font-size: 2.8rem;
	}

    .box:nth-child(2),
    .box:nth-child(3) {
        margin-top: 1.6em;
    }

	.small {
		font-size: 1.6rem;
        margin-bottom: 1.2em;
	}

	.error {
		font-size: 1.8rem;
	}

	.input,
	.select {
		max-width: 1000px;
        font-size: 1.6rem;
	}

	.button {
		font-size: 1.8rem;
	}
}
