*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--primary);
	color: var(--text);
}

button {
	font: inherit;
	border: none;
	cursor: pointer;
}

input,
label {
	font: inherit;
}

:root {
	/* dark */
	--primary--dark: rgb(9, 5, 5);
	--element--dark: rgb(65, 58, 58);
	--text--dark: rgb(241, 236, 236);
	--greylish--dark: rgb(180, 176, 176);
	--highlight--dark: rgb(51, 202, 14);
	--alert--dark: rgb(255, 1, 1);
	--check--dark: rgb(59, 253, 11);
	--edit--dark: rgb(4, 216, 254);
	--gradient-dark: rgb(29, 26, 26);

	/* light */
	--primary--light: rgb(251, 251, 251);
	--element--light: rgb(223, 226, 229);
	--text--light: rgb(19, 10, 10);
	--greylish--light: rgb(91, 87, 87);
	--highlight--light: rgb(77, 43, 218);
	--alert--light: rgb(216, 7, 7);
	--check--light: rgb(13, 141, 17);
	--edit--light: rgb(8, 50, 250);
	--gradient--light: rgb(166, 166, 166);
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: var(--primary--dark);
		--element: var(--element--dark);
		--text: var(--text--dark);
		--greylish: var(--greylish--dark);
		--highlight: var(--highlight--dark);
		--alert: var(--alert--dark);
		--check: var(--check--dark);
		--edit: var(--edit--dark);
		--gradient: var(--gradient--dark);
		color-scheme: dark;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: var(--primary--light);
		--element: var(--element--light);
		--text: var(--text--light);
		--greylish: var(--greylish--light);
		--highlight: var(--highlight--light);
		--alert: var(--alert--light);
		--check: var(--check--light);
		--edit: var(--edit--light);
		--gradient: var(--gradient--light);
		color-scheme: light;
	}
}

:root[color-scheme='dark'] {
	--primary: var(--primary--dark);
	--element: var(--element--dark);
	--text: var(--text--dark);
	--greylish: var(--greylish--dark);
	--highlight: var(--highlight--dark);
	--alert: var(--alert--dark);
	--check: var(--check--dark);
	--edit: var(--edit--dark);
	--gradient: var(--gradient--dark);
	color-scheme: dark;
}

:root[color-scheme='light'] {
	--primary: var(--primary--light);
	--element: var(--element--light);
	--text: var(--text--light);
	--greylish: var(--greylish--light);
	--highlight: var(--highlight--light);
	--alert: var(--alert--light);
	--check: var(--check--light);
	--edit: var(--edit--light);
	--gradient: var(--gradient--light);
	color-scheme: light;
}

.active-link {
	border: 3px solid var(--highlight);
	color: var(--highlight);
	background-color: var(--primary);
}
